<div class="login-container">
  <div class="login-card">
    <div class="title">
      <img src="assets/icons/dog.svg" class="title-icon" alt="Ícone de cachorro">
      <h2 class="title-text">Recuperar</h2>
      <h2 class="title-sub-text">Senha</h2>
    </div>

    <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">

      @if (successMessage) {
        <div class="success-message">
          {{ successMessage }}
        </div>
      } @else {
        <p class="info-text">
          Digite seu e-mail e enviaremos um link para você redefinir sua senha.
        </p>
        <div class="form-group">
          <img src="assets/icons/mail.svg" alt="Ícone de email">
          <input type="email" id="email" placeholder="Digite seu email" required formControlName="email" />
        </div>

        @if (form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)) {
          <div class="error-container">
            @if (form.controls['email'].errors?.['required']) {
              <small class="error-message">Email é obrigatório.</small>
            }
            @if (form.controls['email'].errors?.['email']) {
              <small class="error-message">Por favor, insira um email válido.</small>
            }
          </div>
        }
        <emp-button type="submit" [fullWidth]="true">Enviar Link</emp-button>
      }

      <div class="extra-links" style="justify-content: center; margin-top: 16px;">
        <a href="/login">Voltar para o Login</a>
      </div>
    </form>
  </div>
</div>
