<div class="login-container">
  <div class="login-card">
    <div class="title">
      <img src="assets/icons/dog.svg" class="title-icon" alt="Ícone de cachorro" />
      <h2 class="title-text">Redefinir</h2>
      <h2 class="title-sub-text">Senha</h2>
    </div>

    <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      @if (apiError) {
      <div class="error-container" style="text-align: center">
        <small class="error-message">{{ apiError }}</small>
      </div>
      }

      <div class="form-group">
        <img src="assets/icons/lock.svg" alt="Ícone de cadeado" />
        <input
          type="password"
          id="newPassword"
          placeholder="Digite sua nova senha"
          required
          formControlName="newPassword"
        />
      </div>
      @if (form.controls['newPassword'].invalid && (form.controls['newPassword'].dirty ||
      form.controls['newPassword'].touched)) {
      <div class="error-container">
        @if (form.controls['newPassword'].errors?.['required']) {
        <small class="error-message">A nova senha é obrigatória.</small>
        } @if (form.controls['newPassword'].errors?.['minlength']) {
        <small class="error-message">A senha deve ter no mínimo 8 caracteres.</small>
        }
      </div>
      }

      <div class="form-group">
        <img src="assets/icons/lock.svg" alt="Ícone de cadeado" />
        <input
          type="password"
          id="confirmPassword"
          placeholder="Confirme sua nova senha"
          required
          formControlName="confirmPassword"
        />
      </div>
      @if (form.controls['confirmPassword'].invalid && (form.controls['confirmPassword'].dirty ||
      form.controls['confirmPassword'].touched) || form.hasError('passwordsMismatch')) {
      <div class="error-container">
        @if (form.controls['confirmPassword'].errors?.['required']) {
        <small class="error-message">Confirmação de senha é obrigatória.</small>
        } @if (form.hasError('passwordsMismatch') && form.controls['confirmPassword'].dirty) {
        <small class="error-message">As senhas não conferem.</small>
        }
      </div>
      }

      <emp-button type="submit" [fullWidth]="true">Redefinir Senha</emp-button>
    </form>
  </div>
</div>
