<header class="nav-container">
  <nav class="nav-main">

    <div class="logo-title-group">
      <img src="assets/images/LogoEmporioPetFooterEDIT.png" alt="Logo emporio pet" />
      <h1 class="nav-title">Empório Pet</h1>
    </div>

    <div class="menu-account-group">
      <div class="nav-bar">
        <ul class="menu-items">
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Sobre Nós</a></li>
        </ul>
      </div>
      <div class="container-account">
        <a href="/login">Login</a>
        <a href="/cadastrar">Registro</a>
      </div>
    </div>

  </nav>
</header>
