<app-header></app-header>

<main>
  <section>
    <div class="content-frases">
      <div class="first-title">
        <h2>Saúde e cuidado para o seu pet, com amor e profissionalismo!</h2>
      </div>
      <img src="assets/images/imgPrincipal.png" alt="imagem principal" />
      <div class="sub-title">
        <p>
          Na Empório Pet você encontra produtos, serviços veterinarios, Banho, tosa e muito mais!
        </p>
      </div>
    </div>
  </section>

   <section>
    <div class="card-container">
      <div class="card-sections">
        <a routerLink="/customer/agendar">
          <img src="assets/images/CachorroBanho.png" alt="banho" />
          Banho
        </a>
      </div>
      <div class="card-sections">
        <a routerLink="/customer/agendar">
          <img src="assets/images/CachorroTosa.png" alt="Tosa" />
          Tosa
        </a>
      </div>
    </div>
  </section>

  <section class="carrossel">
    <div class="carrossel-title">
      <h2>Descrição Serviços</h2>
    </div>

    <div class="swiper">
      <div class="swiper-wrapper">
        @for (service of services(); track service.id) {
        <div class="swiper-slide">
          <div class="card-servico">
            <div class="service-image-container">
              <img [src]="environment.BASE_URL + service.imageUrl" [alt]="service.name" />
            </div>

            <h3>{{ service.name }}</h3>
            <p class="service-description">{{ service.description }}</p>
            <p><b>Média de tempo:</b> {{ service.durationDisplay }}</p>
            <p><b>Valor:</b> {{ service.priceDisplay }}</p>
            <button class="btn-agendar" [routerLink]="['/customer/agendar']">Agende agora</button>
          </div>
        </div>
        } @empty {
        <div class="swiper-slide">
          <div class="card-servico">
            <h3>Nenhum serviço disponível no momento.</h3>
            <p>Por favor, volte mais tarde para novidades!</p>
          </div>
        </div>
        }
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
</main>

<app-footer></app-footer>
