<app-header></app-header>

<main class="page-main">
  <section>
    <div class="content-frases">
      <div class="first-title">
        <h2>Saúde e cuidado para o seu pet, com amor e profissionalismo!</h2>
      </div>
      <img src="assets/images/imgPrincipal.png" alt="imagem principal" />

      <div class="sub-title">
        <p>Na Empório Pet você encontra produtos, serviços veterinarios, Banho, tosa e muito mais!</p>
      </div>
    </div>
  </section>

  <section>
    <div class="card-container">
      <div class="card-sections">
        <a href="#">
          <img src="assets/images/CachorroBanho.png" alt="banho" />
          Banho
        </a>
      </div>
      <div class="card-sections">
        <a href="#">
          <img src="assets/images/CachorroTosa.png" alt="Tosa" />
          Tosa
        </a>
      </div>
    </div>
  </section>

  <section class="carrossel">
    <div class="carrossel-title">
      <h2>Descrição Serviços</h2>
    </div>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card-servico">
            <img src="assets/images/carrossel-cachorro.png" alt="banho cachorro" />
            <h3>Banho</h3>
            <p>Higienização completa com shampoos especiais. Inclui secagem, escovação e perfume.</p>
            <p><b>Média de tempo:</b> 40/60 minutos</p>
            <p><b>Valor:</b> R$ 80,00 a R$ 200,00</p>
            <button class="btn-agendar">Agende agora</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-servico">
            <img src="assets/images/carrossel-gato.png" alt="tosa felino" />
            <h3>Tosa</h3>
            <p>Serviço de tosa realizado por profissionais especializados. Inclui penteado final e verificação de pele e pelagem.</p>
            <p><b>Média de tempo:</b> 60/90 minutos</p>
            <p><b>Valor:</b> R$ 150,00 a R$ 350,00</p>
            <button class="btn-agendar">Agende agora</button>
          </div>
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

      <div class="swiper-pagination"></div>
    </div>
  </section>
</main>

<app-footer></app-footer>
