<footer class="page-footer">
  <div class="footer-content">

    <div class="imagem-Logo">
      <img src="assets/images/LogoEmporioPetFooterEDIT.png" alt="Logo emporio pet" />
    </div>

    <div class="links-footer">
      <a href="#">Termos de uso</a>
      <a href="#">Política de privacidade</a>
      <p>© 2025 Empório Pet. Todos os direitos reservados.</p>
    </div>

    <div class="redes-sociais">
      <a href="#"><img src="assets/images/instagram.svg" alt="instagram" /></a>
      <a href="#"><img src="assets/images/whatsapp.svg" alt="whatsapp" /></a>
      <a href="#"><img src="assets/images/github.svg" alt="github" /></a>
    </div>

  </div>
</footer>
