<div class="modal-overlay" (click)="onClose()">
  <div class="modal-card" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <div class="header-icon-container">
        <fa-icon [icon]="faExclamationTriangle" class="header-icon"></fa-icon>
      </div>
      <h3 class="modal-title">{{ title }}</h3>
      <button (click)="onClose()" class="close-button">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ message }}</p>
      <p class="warning-text">
        Esta ação pode não ser reversível.
      </p>
    </div>
    <div class="modal-footer">
      <button (click)="onClose()" class="button-cancel">
        Cancelar
      </button>
      <button (click)="onConfirm()" class="action-button" [ngClass]="confirmButtonClass">
        {{ confirmButtonText }}
      </button>
    </div>
  </div>
</div>
