@if (currentUser(); as user) {
<div class="container mx-auto px-4 py-8 max-w-4xl">
  <h1 class="text-3xl font-bold text-gray-800 mb-8">Meu Perfil</h1>

  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="bg-white rounded-lg shadow-md p-6 mb-6">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold text-gray-700">Minhas Informações</h2>
      @if (!isEditing()) {
      <button type="button" (click)="enableEditMode()" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md transition">
        Editar
      </button>
      }
    </div>

    <div class="space-y-4">
      <div>
        <p class="text-sm text-gray-500">Nome Completo</p>
        @if (!isEditing()) {
        <p class="text-gray-800">{{ user.name }}</p>
        } @else {
        <input type="text" formControlName="name" class="w-full p-2 border rounded-md" />
        @if (profileForm.controls['name'].invalid && (profileForm.controls['name'].dirty || profileForm.controls['name'].touched)) {
          <div class="error-message mt-1">
            @if (profileForm.controls['name'].errors?.['required']) { <small>Nome é obrigatório.</small> }
            @if (profileForm.controls['name'].errors?.['backendError']) { <small>{{ profileForm.controls['name'].errors?.['backendError'] }}</small> }
          </div>
        }
        }
      </div>

      <div>
        <p class="text-sm text-gray-500">Email</p>
        <p class="text-gray-400">{{ user.email }} (não pode ser alterado)</p>
      </div>

      <div>
        <p class="text-sm text-gray-500">Telefone</p>
        @if (!isEditing()) {
        <p class="text-gray-800 mt-1">{{ user.phone | mask: '(00) 00000-0000' }}</p>
        } @else {
        <input type="tel" formControlName="phone" class="w-full p-2 border rounded-md" mask="(00) 00000-0000" />
        @if (profileForm.controls['phone'].invalid && (profileForm.controls['phone'].dirty || profileForm.controls['phone'].touched)) {
          <div class="error-message mt-1">
            @if (profileForm.controls['phone'].errors?.['required']) { <small>Telefone é obrigatório.</small> }
            @if (profileForm.controls['phone'].errors?.['backendError']) { <small>{{ profileForm.controls['phone'].errors?.['backendError'] }}</small> }
          </div>
        }
        }
      </div>

      @if(user.cpf) {
      <div>
        <p class="text-sm text-gray-500">CPF</p>
        @if (!isEditing()) {
        <p class="text-gray-800">{{ user.cpf | mask: '000.000.000-00' }}</p>
        } @else {
        <input type="text" formControlName="cpf" class="w-full p-2 border rounded-md" mask="000.000.000-00" />
        @if (profileForm.controls['cpf'].invalid && (profileForm.controls['cpf'].dirty || profileForm.controls['cpf'].touched)) {
          <div class="error-message mt-1">
            @if (profileForm.controls['cpf'].errors?.['backendError']) { <small>{{ profileForm.controls['cpf'].errors?.['backendError'] }}</small> }
          </div>
        }
        }
      </div>
      }

      <div>
        <p class="text-sm text-gray-500">Data de Nascimento</p>
        @if (!isEditing()) {
        <p class="text-gray-800">{{ user.birthDate | date : 'dd/MM/yyyy' }}</p>
        } @else {
        <input type="date" formControlName="birthDate" class="w-full p-2 border rounded-md" />
         @if (profileForm.controls['birthDate'].invalid && (profileForm.controls['birthDate'].dirty || profileForm.controls['birthDate'].touched)) {
          <div class="error-message mt-1">
            @if (profileForm.controls['birthDate'].errors?.['required']) { <small>Data de nascimento é obrigatória.</small> }
            @if (profileForm.controls['birthDate'].errors?.['backendError']) { <small>{{ profileForm.controls['birthDate'].errors?.['backendError'] }}</small> }
          </div>
        }
        }
      </div>

      @if(isEditing()) {
      <div class="flex justify-end space-x-2 pt-4">
        <button type="button" (click)="cancelEditMode()" class="bg-gray-200 hover:bg-gray-300 text-gray-800 px-4 py-2 rounded-md transition">
          Cancelar
        </button>
        <button type="submit" [disabled]="profileForm.invalid" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md transition disabled:bg-blue-300">
          Salvar
        </button>
      </div>
      }
    </div>
  </form>

  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-xl font-semibold text-gray-700 mb-4">Segurança</h2>
    <div class="space-y-4">
      <div>
        <label class="block text-sm text-gray-500 mb-1">Senha Atual</label>
        <input type="password" formControlName="currentPassword" class="w-full p-2 border rounded-md" />
        @if (passwordForm.controls['currentPassword'].invalid && (passwordForm.controls['currentPassword'].dirty || passwordForm.controls['currentPassword'].touched)) {
          <div class="error-message mt-1">
            @if (passwordForm.controls['currentPassword'].errors?.['required']) { <small>Senha atual é obrigatória.</small> }
            @if (passwordForm.controls['currentPassword'].errors?.['backendError']) { <small>{{ passwordForm.controls['currentPassword'].errors?.['backendError'] }}</small> }
          </div>
        }
      </div>
      <div>
        <label class="block text-sm text-gray-500 mb-1">Nova Senha</label>
        <input type="password" formControlName="newPassword" class="w-full p-2 border rounded-md" />
        @if (passwordForm.controls['newPassword'].invalid && (passwordForm.controls['newPassword'].dirty || passwordForm.controls['newPassword'].touched)) {
          <div class="error-message mt-1">
            @if (passwordForm.controls['newPassword'].errors?.['required']) { <small>Nova senha é obrigatória.</small> }
            @if (passwordForm.controls['newPassword'].errors?.['minlength']) { <small>A senha deve ter no mínimo 8 caracteres.</small> }
          </div>
        }
      </div>
      <div>
        <label class="block text-sm text-gray-500 mb-1">Confirmar Nova Senha</label>
        <input type="password" formControlName="confirmNewPassword" class="w-full p-2 border rounded-md" />
        @if (passwordForm.controls['confirmNewPassword'].invalid && (passwordForm.controls['confirmNewPassword'].dirty || passwordForm.controls['confirmNewPassword'].touched)) {
          <div class="error-message mt-1">
            @if (passwordForm.controls['confirmNewPassword'].errors?.['required']) { <small>Confirmação de senha é obrigatória.</small> }
          </div>
        }
        @if (passwordForm.hasError('passwordsMismatch') && passwordForm.controls['confirmNewPassword'].touched) {
          <div class="error-message mt-1">
            <small>As senhas não coincidem.</small>
          </div>
        }
      </div>

      <button type="submit" [disabled]="passwordForm.invalid" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md transition w-full disabled:bg-blue-300">
        Alterar Senha
      </button>
    </div>
  </form>

  @if(user.cpf && user.pets && user.pets.length > 0) {
    }
</div>
} @else {
<p class="text-center py-10">Carregando perfil...</p>
}
