@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  /* =============================================== */
  /* Cores de Superfície (Fundos e Bordas)
  /* =============================================== */

  /* Usado para o fundo principal da página ou de seções */
  --emp-color-background-page: #e8e8e8;

  /* Usado para o fundo de componentes "elevados", como cards e modais */
  --emp-color-background-component: #ffffff;

  /* Usado para bordas padrão em componentes como inputs e cards */
  --emp-color-border-default: #d9d9d9;

  /* =============================================== */
  /* Cores de Texto
  /* =============================================== */

  /* Cor principal para textos, como parágrafos e títulos */
  --emp-color-text-primary: #005f73;

  /* Cor para textos em fundos escuros ou coloridos (ex: em cima de um botão azul) */
  --emp-color-text-inverse: #fff;

  /* Cor para textos de menor importância ou placeholders */
  --emp-color-text-placeholder: #d9d9d9;

  /* =============================================== */
  /* Cores Interativas (Botões, Links)
  /* =============================================== */

  /* Cor principal para elementos clicáveis, como o botão primário */
  --emp-color-interactive-primary: #0056b3;

  /* =============================================== */
  /* Cores de Feedback (Alertas, Sucesso, Erro)
  /* =============================================== */

  /* Usada para indicar sucesso (fundo verde) */
  --emp-color-feedback-success-background: #0caf1d;

  /* Usada para indicar sucesso (texto verde) */
  --emp-color-feedback-success-text: #0caf1d;

  /* Usada para indicar perigo ou erro (fundo vermelho) */
  --emp-color-feedback-danger-background: #f00;

  /* Usada para indicar perigo ou erro (texto/ícone vermelho) */
  --emp-color-feedback-danger-text: #f33;

  /* =============================================== */
  /* Cores de Destaque (Accents)
  /* =============================================== */

  /* Cor de destaque para elementos especiais, banners ou decorações */
  --emp-color-accent-highlight: #ffe500;

  /* Essa cor cinza escura era usada como fundo e texto, então podemos criar uma variável neutra */
  --emp-color-neutral-strong: #636363;
}

/* Estilo Generico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--emp-color-bg-primary);
}

main {
  padding: 0 20px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Poppins', sans-serif;
}

.success-snackbar .mdc-snackbar__surface {
  background-color: var(--emp-color-feedback-success-background) !important;
  color: var(--emp-color-text-inverse) !important;
}

.success-snackbar .mat-mdc-button.mat-mdc-snack-bar-action {
  color: var(--emp-color-text-inverse) !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: var(--emp-color-feedback-danger-background) !important;
  color: var(--emp-color-text-inverse) !important;
}

.error-snackbar .mat-mdc-button.mat-mdc-snack-bar-action {
  color: var(--emp-color-text-inverse) !important;
}

/**/
html {
  font-size: 12px;
}

:root {
  --primary-color: #f1fafb;
  --secundary-color: #005f73;
  --services-color: #dff6f4;
  --titles-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

/* HEADER */

.nav-container {
  background-color: var(--secundary-color);
  height: 120px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.nav-main {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.nav-main img {
  width: 60px;
  margin-right: 5px;
}

.nav-title {
  color: var(--primary-color);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  text-transform: uppercase;
}

.menu-items li {
  display: none;
}

.container-account a {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}

/* Implementeção menu hamburguer */
/* ver dps */

/* Main */
main {
  min-height: calc(100vh - 425px);
}

/* Section 1 */
.content-frases {
  background-color: var(--primary-color);
}

.first-title h2 {
  color: var(--secundary-color);
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
}

.sub-title p {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  color: var(--secundary-color);
}

.content-frases img {
  height: 325px;
  width: 100%;
}

/* Section 2 */

.card-container {
  padding: 20px;
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-sections {
  width: 110px;
  height: 110px;
  background-color: white;
  border-radius: 10px;
  margin: 0 10px;
  display: flex;
  text-align: center;
}

.card-sections a {
  font-weight: bold;
  font-size: 1rem;
  color: var(--secundary-color);
  text-transform: uppercase;
}

.card-sections img {
  width: 80px;
}

/* Section 3 */

.card-servico {
  background-color: var(--services-color);
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-servico img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.card-servico h3 {
  margin: 10px 0 5px;
  color: var(--secundary-color);
  font-size: 1.6rem;
}

.card-servico p {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}

.btn-agendar {
  margin-top: 10px;
  padding: 10px;
  background: var(--secundary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-agendar:hover {
  background: #023047;
}

.carrossel {
  background-color: var(--services-color);
  border-radius: 8px 8px 0 0;
}

.carrossel-title {
  height: 50px;
  padding: 15px;
}

.carrossel-title h2 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--secundary-color);
}

.swiper {
  width: 100%;
  max-width: 800px;
  height: auto;
  padding-bottom: 30px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: var(--secundary-color);
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.imagem-Logo img {
  width: 80px;
}

.links-footer {
  color: var(--primary-color);
}

.links-footer a {
  display: block;
  text-align: center;
}

.redes-sociais img {
  width: 40px;
  margin: 10px;
}

/*Responsividades -> Tamanho tela*/

/*PRONTO*/
@media (min-width: 576px) {
  /*Pronto*/
  .nav-main img {
    width: 80px;
  }

  .nav-title {
    font-size: 2.8rem;
    margin-right: 150px;
  }

  .content-frases img {
    height: 450px;
  }

  .card-sections {
    width: 170px;
    height: 170px;
    margin: 20px;
  }

  .card-sections a {
    font-size: 1.5rem;
  }

  .card-sections img {
    width: 130px;
  }
}

/*PRONTO*/
@media (min-width: 768px) {
  .nav-container {
    height: 150px;
  }

  .container-account {
    margin-left: 15px;
  }

  .nav-main {
    margin: 0 auto;
    flex-direction: row;
  }

  .nav-main img {
    width: 80px;
    margin: 5px;
  }

  .nav-bar {
    display: flex;
    align-items: center;
  }

  .nav-title {
    color: var(--primary-color);
    font-size: 3rem;
    margin-left: 10px;
    margin-right: 70px;
  }

  .menu-items {
    display: flex;
  }

  .menu-items li {
    display: list-item;
    list-style-type: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 10px;
  }

  main {
    min-height: calc(100vh - 475px);
  }

  .content-frases img {
    height: 650px;
  }

  .first-title h2 {
    font-size: 2.5rem;
  }

  .sub-title p {
    font-size: 2rem;
  }

  .card-sections {
    width: 200px;
    height: 200px;
    margin: 0 40px 20px 40px;
  }

  .card-sections a {
    font-size: 1.8rem;
  }

  .card-sections img {
    width: 150px;
  }

  /*Carrossel*/

  .carrossel-title {
    height: 150px;
  }

  .carrossel-title h2 {
    font-size: 2.5rem;
    margin: 15px;
  }

  .card-servico h3 {
    font-size: 3rem;
    text-transform: uppercase;
  }

  .card-servico p {
    font-size: 2rem;
  }

  .btn-agendar {
    margin-top: 15px;
    padding: 20px;
    font-size: 1.8rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #005f73; /* cor dos botões */
    z-index: 10;
  }

  .carrossel-title {
    height: 100px;
  }

  .carrossel-title h2 {
    font-size: 2.8rem;
  }

  footer {
    flex-direction: row;
  }

  .imagem-Logo img {
    width: 100px;
  }

  .links-footer {
    color: var(--primary-color);
  }

  .links-footer {
    display: block;
    text-align: center;
    font-size: 1.2rem;
  }

  .redes-sociais {
    display: flex;
    flex-direction: column;
  }

  .redes-sociais img {
    width: 40px;
    margin: 10px;
  }
}

/*PRONTO*/
@media (min-width: 992px) {
  .nav-container {
    height: 150px;
  }

  .nav-main img {
    width: 100px;
  }

  .nav-title {
    font-size: 3.6rem;
    margin-right: 200px;
  }

  .menu-items li {
    font-size: 1.8rem;
  }

  .content-frases img {
    height: 850px;
  }

  .first-title {
    height: 120px;
    padding: 7px;
  }

  .sub-title {
    padding: 20px;
  }

  .sub-title p {
    font-size: 2.2rem;
  }

  .card-sections {
    width: 250px;
    height: 250px;
  }

  .card-sections a {
    font-size: 2rem;
  }

  .card-sections img {
    width: 190px;
  }

  .imagem-Logo img {
    width: 120px;
  }

  .links-footer {
    font-size: 1.5rem;
  }

  .redes-sociais img {
    width: 50px;
  }
}

@media (min-width: 1200px) {
  .first-title h2 {
    font-size: 2.8rem;
  }

  .nav-container {
    height: 180px;
  }

  .nav-main img {
    width: 130px;
  }

  .nav-title {
    font-size: 4rem;
    margin-right: 330px;
  }

  .content-frases img {
    height: 1000px;
  }

  .first-title {
    padding: 25px;
  }

  .sub-title {
    padding: 20px;
  }

  .sub-title p {
    font-size: 2.8rem;
  }
}
