@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* =============================================== */
  /* Cores de Superfície (Fundos e Bordas)
  /* =============================================== */

  /* Usado para o fundo principal da página ou de seções */
  --emp-color-background-page: #e8e8e8;

  /* Usado para o fundo de componentes "elevados", como cards e modais */
  --emp-color-background-component: #ffffff;

  /* Usado para bordas padrão em componentes como inputs e cards */
  --emp-color-border-default: #d9d9d9;


  /* =============================================== */
  /* Cores de Texto
  /* =============================================== */

  /* Cor principal para textos, como parágrafos e títulos */
  --emp-color-text-primary: #005F73;

  /* Cor para textos em fundos escuros ou coloridos (ex: em cima de um botão azul) */
  --emp-color-text-inverse: #fff;

  /* Cor para textos de menor importância ou placeholders */
  --emp-color-text-placeholder: #d9d9d9;


  /* =============================================== */
  /* Cores Interativas (Botões, Links)
  /* =============================================== */

  /* Cor principal para elementos clicáveis, como o botão primário */
  --emp-color-interactive-primary: #0056b3;


  /* =============================================== */
  /* Cores de Feedback (Alertas, Sucesso, Erro)
  /* =============================================== */

  /* Usada para indicar sucesso (fundo verde) */
  --emp-color-feedback-success-background: #0caf1d;

  /* Usada para indicar sucesso (texto verde) */
  --emp-color-feedback-success-text: #0caf1d;

  /* Usada para indicar perigo ou erro (fundo vermelho) */
  --emp-color-feedback-danger-background: #f00;

  /* Usada para indicar perigo ou erro (texto/ícone vermelho) */
  --emp-color-feedback-danger-text: #f33;

  /* =============================================== */
  /* Cores de Destaque (Accents)
  /* =============================================== */

  /* Cor de destaque para elementos especiais, banners ou decorações */
  --emp-color-accent-highlight: #ffe500;

  /* Essa cor cinza escura era usada como fundo e texto, então podemos criar uma variável neutra */
  --emp-color-neutral-strong: #636363;
}


/* Estilo Generico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--emp-color-bg-primary);
}

main {
  padding: 0 20px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Poppins", sans-serif;
}


.success-snackbar .mdc-snackbar__surface {
  background-color: var(--emp-color-feedback-success-background) !important;
  color: var(--emp-color-text-inverse) !important;
}

.success-snackbar .mat-mdc-button.mat-mdc-snack-bar-action {
  color: var(--emp-color-text-inverse) !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: var(--emp-color-feedback-danger-background) !important;
  color: var(--emp-color-text-inverse) !important;
}

.error-snackbar .mat-mdc-button.mat-mdc-snack-bar-action {
  color: var(--emp-color-text-inverse) !important;
}
